<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appentus.materialking">

    <uses-sdk tools:overrideLibrary="com.pnikosis" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".utility.MyApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".views.activity.SplashActivityDemo"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activity.SignupHandler"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4d5215d6decd494f2a4cb5a0675913259bc2b4b7" />

        <service android:name=".helper.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".helper.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".views.activity.OrderActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.LoginActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ShippingConfirmationActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ViewDetailsCompleteOrder"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ViewDetailsPartialOrder"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ViewOrderRecommended"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.OrderConfirmationActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- <activity android:name=".views.activity.SplashActivityDemo"></activity> -->

        <receiver android:name=".receiver.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".views.activity.ProductImageViewActivity" />
        <activity android:name=".views.activity.RecommendedProductDetailActivity" />
        <activity android:name=".views.activity.OfferActivity" />
        <activity android:name=".views.activity.OrderItemViewActivity" />
        <activity android:name=".views.activity.OrderItemBidProductActivity" />
        <activity android:name=".views.activity.NotificationActivity" />
        <activity android:name=".views.activity.NotificationBidInfoActivity" />
        <activity android:name=".views.activity.SellerDetailActivity" />
        <activity android:name=".views.activity.ReceiptActivity"></activity>
    </application>

</manifest>